<div class="section bg-blue-600">
    <!-- Dot -->
    <div class="section-el-1 bg-blue-600"> </div>

    <!-- Vertical line -->
    <div class="section-el-2 bg-blue-300"></div>

    <!-- Content -->
    <div class="flex-auto">
        <h1 class="text-xl font-bold">{{title}}</h1>
    </div>
    <a href="#" class="text-center text-white hover:text-gray-300">A</a>
    <a href="#" class="text-center text-white hover:text-gray-300">E</a>
    <a href="#" class="text-center text-white hover:text-gray-300">D</a>
</div>